.grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 996px) {
  .grid2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
